body {
  font-family: 'Raleway', sans-serif;
    margin-left: 3%;
    margin-right: 3%;
}

* {
  box-sizing: border-box;
}

/*En tête*/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
flex-wrap: wrap;
align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  align-content: center;
}


.logo img{
  width: 60%;

}

.menu ul {
  display: flex;
  flex-direction: row;
  align-content: space-between;
width:100%;
align-self: center;
}

.menu li {
list-style: none;
 padding-right: 25px;
align-self:center;
  }

.menu a {
padding-top: 20px;
  text-decoration: none;
text-align: center;
  color: black;

}

.menu a:hover{

 border-top: solid 2px #0065FC;
 color: #0065FC;
}

/*Recherche et filtres*/


.recherche-ville{
  width: 400px;
  border-radius: 10px;
}

.recherche-ville i {
  height: 50px;
  width: 50px;
  font-size: 18px;
  padding-top: 15px;
  color: black;
  font-weight: bold;
  background-color:#F2F2F2 ;
  text-align: center;
  border-radius: 10px 0 0 10px;
}

.recherche-ville input {
  height: 50px;
  width: 230px;
  padding: 15px;
  font-weight: bold;
  color: black;
   border:#F2F2F2 solid 0.5px;
}

.recherche-ville button {
  background-color:#0065FC ;
  height: 50px;
  width: 100px;
  border: none;
  color: white;
  border-radius: 0 10px 10px 0;
}

.filtres {
  margin-top: 50px;
  margin-bottom: 40px ;
}

.filtres h3{
  margin-right: 20px;
  font-weight: bold;
}

.filtres ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  text-align: center;
    padding-left: 0;
}



.filtres li {
  list-style: none;
 padding-right: 15px;
  text-align: left;
  align-self: center;
  align-items: center;
  border: 2px solid #F2F2F2;
  border-radius: 30px;
  margin-right: 20px;
}

.filtres i {

align-items: center;
justify-content: center;
text-align: center;
padding-top: 15px;
border-radius: 25px;
width: 52px;
height: 52px;
color: #0065FC;
background-color: #DEEBFF;
}

.filtres i:hover {

  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 15px;
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #DEEBFF;
  background-color: #0065FC;
  }



.filtres a{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 15px;
font-weight: bold;
color: black;
text-decoration: none;
height: 50px;


}

.infobulle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infobulle i {
  border-radius: 53px;
  border: 1px solid #DEEBFF;
  background-color: #0065FC;
  color: #F2F2F2;
}

.infobulle p {
  padding-left: 15px;
}


/*Bloc logements*/


.logements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.hebergements {
  flex: 2;
width:70%;
  height: 680px;
  margin-right: 20px;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color:lightgrey;
}


.bloc1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.bloc2 {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}



.card1 {
    background-color: white;
    width: 30%;
    height: auto;
    padding: 1%;
    border-radius: 20px;
}

.card2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
height: auto;

  padding: 1% 0 1% 1%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card1 img{
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 120px;
}

  .card2 img{
    border-radius: 15px 0 0 15px;
    width: 35%;
    height: 160px;
}

.hebergements p {
  padding-top: 1px;
}

.populaire {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:680px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: lightgrey;
}

.pluspopulaires{
display: flex;
flex-direction: row;
justify-content:space-between;
width: 90%;
align-items: center;
padding-top: 15px;
padding-left: 25px;
}

.pluspopulaires h3 {
  padding-left: 10px;
}

.blocpop {
  padding-left: 20px;
  padding-right: 20px;
}

.details {
  padding-left: 10px;
}

.colorbleu{
  color: #0065FC
}

.colorgris {
  color: grey;
}


/*Activités*/

.activites {
  margin-top: 50px;
  margin-bottom: 50px;
}

.blocactivites {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  height: 600px;
}

.card3 {
  ;
    width: 100%;
    height: auto;
    padding: 1%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px #F2F2F2;
}

.bloccard3{
width: 25%;
}

.bloccard4{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 23%;
padding-left: 10px;
padding-right: 10px;
}

.card4{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px #F2F2F2;
}

.card5 {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
height: auto;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px #F2F2F2;
}

.card3 img {
  border-radius: 15px 15px 0 0;
    width: 100%;
    height:510px;
}
.card4 img{
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 200px;
}

.card5 img{
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 150px;
}

/*Pied de page*/

footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-self:  center;
  width: 100%;
}
.apropos li {
  list-style: none;
  padding-bottom: 15px;
}

.apropos a{
  text-decoration: none;
  color: black;

}

.hebergements-footer li {
  list-style: none;
  padding-bottom: 15px;
}

.hebergements-footer a{
  text-decoration: none;
  color: black;
}

.assistance li {
  list-style: none;
  padding-bottom: 15px;
}

.assistance a{
  text-decoration: none;
  color: black;
}

.apropos {
  margin-left:2%;
}

.assistance {
  margin-right:3%;
}


/*Responsive*/

/*Tablettes*/

@media all and (max-width:992px) and(min-width:768px)
{}


/*Smartphone*/

@media screen and (max-width:768px)
{


h1{


}

.recherche-ville button {

}

.logements {
flex-direction: column;
}


.bloc1{
  flex-direction: column;
  width: 90%;
}
.bloc2{
  flex-direction: column;
}


.card1 {
  padding-bottom:  3px;
  flex-direction: column;
  width: 80%;
}
.card2 {
  flex-direction: column;
}

.card3{
  flex-direction: column;
}

.card4 {
  flex-direction: column;
}

.card5 {
  flex-direction: column;
}

.hebergements {
  flex-direction: column;
}

.bloc {
  flex-direction:column;
}



}
